*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'VT323', monospace;
}
p{
  font-size: 25px;
}
th{
  font-size: x-large;
  width: 33%;
  border: 1px solid;
}
td{
  font-size: x-large;
  border-top:    1px solid;
}